<div class="something">
  <h3>Welcome</h3>
  <div class="user_playlists">
    <h2><%= @user.username.capitalize %>'s recent playlists</h2>
    <% @playlists.each do |playlist| %>
      <img src="<%= playlist.art_url %>" />
      <%= link_to playlist.title, playlist_path(playlist) %></br>
    <% end %>
  </div>
  <div class="links">
    <%= link_to "View Nearby Playlists", playlists_find_path, :class => 'btn' %>
    <%= link_to "Create A New Playlist", new_playlist_path, :class => 'btn'  %>
  </div>
</div>
