<% method = :delete if local_assigns[:method].nil? %>
<% url = '#' if local_assigns[:url].nil? %>
<div class="songcard">
	<div class="coverart">
		<a href=<%= url %> class='song'>
			<% unless coverart == '' %>
				<% unless @artist_search_results %>
				<i class="fa fa-play"></i><img src="http://images.gs-cdn.net/static/albums/<%= coverart %>" />
				<% else %>
					<img src="http://images.gs-cdn.net/static/albums/<%= coverart %>" />
				<% end %>
			<% else %>
				<% unless @artist_search_results %>
					<i class="fa fa-play"></i><img class="searchart" src="http://static7.depositphotos.com/1001655/707/v/950/depositphotos_7070089-Woman-with-music-notes.jpg" />
				<% else %>
					<img class="searchart" src="http://static7.depositphotos.com/1001655/707/v/950/depositphotos_7070089-Woman-with-music-notes.jpg" />
				<% end %>
			<% end %>
		</a>
	</div>
	<div class="songinfo">
		<div class="title"><%= title.truncate(25) %></div>
		<div class="artist"><%= artist.truncate(20) %></div>
	</div>
		<div class="icon">
			<% if method == :delete %>
					<%= link_to "/playlists/#{@playlist.id}/songs/#{track.id}", method: :delete, :class => "icon" do %>
						<i class="fa fa-trash-o"></i>
					<% end %>
			<% elsif method == :add %>
				<%= link_to playlist_songs_path(@playlist, song_name: title, song_artist: artist, song_id: track.id, coverart: coverart), :class => 'add-song' do %>
				  <i class="fa fa-plus"></i>
					<% end %>
			<% end %>
		</div>
</div>


