<div class="songcard">
	<span>
	<div class="coverart">
		<a href=<%= url %> >
		<% unless coverart == '' %>
			<img src=<%= coverart %> />
		<%end%>
		</a>
	</div>
	<div class="songinfo">
		<%= artist %> - <%= title %>
	</div>
	<%= button_to "Delete Song", [@playlist, track], method: :delete, :class =>'button' %>
	</span>
</div>
