<div class="songcard">
	<div class="coverart">
		<a href=<%= url %> class='song'>
		<% unless coverart == '' %>
			<img src=<%= coverart %> />
		<%end%>
		</a>
	</div>
	<div class="songinfo">
		<div class="title"><%= title.truncate(25) %></div>
		<div class="artist"><%= artist.truncate(20) %></div>
	</div>
		<div class="icon"><i class="fa fa-trash-o"><%= link_to '', [@playlist, track], method: :delete, :class => "icon" %></i>
		</div>
</div>
