<div class="search_songs">
	<h1>Search songs</h1>

	<%= form_for :songs, url: {action: 'search'}, html: {method: 'get', :id => 'search-songs'} do |f| %>
		<%= f.text_field :title, :placeholder => "Find a song" %>

		<div class="link_tabs">
			<%= f.submit "Search", :class => 'button small' %>
		</div>

	<% end %>
</div>



<% @artist_search_results.each do |song| %>
	<%= render partial: 'songs/mini_groove_song_card', locals: { title: song.name, artist: song.artist, coverart: "http://images.gs-cdn.net/static/albums/<%= song.artwork%>", track: song, method: :add} %>

<%end%>
