<h1>Create Playlist</h1>
<% if @playlist %>
  <ul>
  <% @playlist.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @playlist do |f| %>
  <%= f.label :title %>
	<%= f.text_field :title %>

	<div class="link_tabs">
		<%= f.submit :class => 'button small' %>
	</div>
<% end %>
